:root {
  background-color:#000000;
  color: #F0E6D2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav{
  padding: 20px 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3C3C41;
}

nav a{
  text-decoration: none;
  color: #F0E6D2;
}

nav a:hover, .icon:hover{
  color: #C89B3C;
}

.links, .menu, .icons{
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu-item:hover{
  background: linear-gradient(black, white);
}

footer {
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  color: #777;
  font-size: smaller;
  border-top: 1px solid #3C3C41;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
